@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    background: url(../img/mobile_bg.png)  repeat;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    transition: opacity 0.5s ease;
}

@import 'blocks/header';
@import 'blocks/modal';
@import 'blocks/communication';
@import 'blocks/promo';


